<h1>Taller de Preparación</h1>

<p>Pueba de Rails</p>

<form action="<%= pages_save_user_path %>" method='POST'>
	<input type='text' name='name' value=''>
	<input type='text' name='email' value=''>
	<input type='text' name='age' value=''>
	<input type='submit' name='enviar' value=''>
</form>

<%= flash[:notice] %>